<div class="uiLeaderboard">
	<div class="heading">
		<div class="heading-text">leaderboard</div>
	</div>
	<div class="result">
		<div class="headings">
			<div class="col">level</div>
			<div class="col">name</div>
		</div>
		<div class="list">
			
		</div>
		<div class="buttons">
			<div offset="-999" class="btn btn-first"><<</div>
			<div offset="-1" class="btn btn-prev"><</div>
			<div offset="1" class="btn btn-next">></div>
			<div offset="999" class="btn btn-last">>></div>
		</div>
	</div>
	<div class="prophecies">
		<div class="heading">
			<div class="heading-text">prophecies</div>
		</div>
		<div class="prophecy prophecy-none">none</div>
		<div class="prophecy prophecy-mine">mine</div>
		<div class="prophecy" prophecy="austere">austere</div>
		<div class="prophecy" prophecy="butcher">butcher</div>
		<div class="prophecy" prophecy="crushable">crushable</div>
		<div class="prophecy" prophecy="hardcore">hardcore</div>
		<div class="prophecy" prophecy="titangrip">titangrip</div>		
		<div class="btn">refresh</div>
	</div>
</div>
